/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    max-width: 1120px;
    min-width: 270;
    padding: 0 25px 0 25px;
    Margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'courier-prime', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    background-color: #81c7d4a6;

    
 
}

h1{
    
    max-width: 1120px;
    padding: 0 25px 0 25px;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: .05em;
    margin-bottom: 28px;
    color: #373c38;

 }
h2{
    max-width: 680px;
    min-width: 425;
    Margin: auto;
    font-family: 'courier-prime', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 22;
    line-height: 28px;
    margin-bottom: 40px;
    color: aliceblue;

}

h3{
    max-width: 680px;
    min-width: 425;
    Margin: auto;
    font-size: smaller;
    line-height: 20px;
}
p{
    max-width: 680px;
    min-width: 425;
    Margin: auto;
    font-family: 'courier-prime', monospace;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 28px;
    
}
.flexbox-container {
    display: flex;
    justify-content:start;
    align-items: center;
    
}
.flexbox-item{
    width: 400px;
    Margin: 28px;
}


.flexbox-item-1 {
    flex: 1;
    min-height: 100px;
    Min-width: 275px; 
}

.flexbox-item-2 {
    flex: 1 0 250px;
    min-height: 100px;
  
    
}.flexbox-item-3 {
    flex: 0 0 350px;
    min-height: 100px;
    
}
.flexbox-item-4 {
    flex: 0 0 350px;
    min-height: 100px;
    

}
Figure {
    display: inline-block;
  
}
Figcaption {
    font-size: smaller;
    line-height: 20px;
    margin-bottom: 40px;
}

.widephoto {
    max-width: 1120px;
    

}
img {
    width: 100%;
    height: auto;

}

.pull-quote {
    max-width: 1120px;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: .02em;
    margin-bottom: 28px;
    color: #373c38;
   
}

@media screen and (max-width: 800px) {
    .pull-quote{
        font-size: 18px;
        line-height: 28px;
    }
    h1{
        font-size: 50px;
        line-height: 60px;
    }
    .flexbox-container{
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 475px) {
    h1{
        font-size: 40px;
        line-height: 50px;
    }
    Body{
        padding: 20px 20px 20px 20px;
    }
    .flexbox-container {
        display: flex;
        justify-content:space-around;
        align-items: center;  
    }  
    .flexbox-item-3 {
    flex: 0 0 250px;
    min-height: 100px;
    
    }
    .flexbox-item-4 {
        flex: 0 0 250px;
        min-height: 100px;
    }
    

}